<!DOCTYPE html>
<html>
<head>
 <title>Student's Data</title>
</head>
<body>
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td><form action="/delete/{{row[0]}}" method="POST"><button type="submit">Delete</button></form>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form method="post">
            <h2  style="color:#6666ff">Student Registration</h2>
	    <input  style="padding:5px" type="text" name="name" placeholder="Name" required>
	    <input  style="padding:5px" type="text" name="student_class" placeholder="Class" required>	<input style="padding:5px" placeholder="Age" name="age" required>
	    <input style="padding:5px" placeholder="Address"  name="address" required>
			
<button  style="background-color:rgb(33,74,128);width:169px;border:none;color:white;padding:5px 10px 5px 10px;border-radius:2px;" type="submit">Add</button>			</form>
</body>
</html>

